services:
  db:
    image: postgres:16
    container_name: roomie_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: roomie
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build: .
    container_name: roomie_api
    env_file:
      - .env
    ports:
      - "3000:3000"
    depends_on:
      - db

volumes:
  pgdata:
